<style>
  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }
</style>

<div class="content" role="main" *transloco="let t; read 'main'">
  <h2>{{ t('title') }}</h2>
  <p>{{ t('subtitle') }}</p>
  <button (click)="setGlobalSpinner()" mat-button color=primary>{{ t('set-global-spinner') }}</button>
  <button (click)="setValue()" mat-button color=primary>{{ t('set-state-value' )}}</button>
  {{ t('current-state-value')}}: {{stateValue }}
  <app-spinner></app-spinner>
</div>
